.container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.text {
  text-align: left;
  font-size: 15px;
}

.name {
  text-align: center;
  font-size: 25px;
}